<article>
    <section class="popular-pro-text">
        <div class="animated animatedFadeInUp fadeInUp">
        <h2>popular products</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic laborum tempore at illo fugiat fuga et aut laudantium!</p>
    </div> 
    </section>
    <section >
        <!-- <div class="nav-btns">
            <button class="btn sofa">sofa</button>
            <button class="btn">table</button>
            <button class="btn">chair</button>
            <button class="btn">bed</button>
            <button class="btn">lightning</button>
            <button class="btn">decore</button>
        </div> -->
        <nav>                         
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-Sofa-tab" data-toggle="tab" href="#nav-Sofa" role="tab" aria-controls="nav-Sofa" aria-selected="true">Sofa</a>
                <a class="nav-item nav-link" id="nav-Table-tab" data-toggle="tab" href="#nav-Table" role="tab" aria-controls="nav-Table" aria-selected="false">Table</a>
                <a class="nav-item nav-link" id="nav-Chair-tab" data-toggle="tab" href="#nav-Chair" role="tab" aria-controls="nav-Chair" aria-selected="false">Chair</a>
                <a class="nav-item nav-link" id="nav-Bed-tab" data-toggle="tab" href="#nav-Bed" role="tab" aria-controls="nav-Bed" aria-selected="false">Bed</a>
                <a class="nav-item nav-link" id="nav-Lightning-tab" data-toggle="tab" href="#nav-Lightning" role="tab" aria-controls="nav-Lightning" aria-selected="false">Lightning</a>
                <a class="nav-item nav-link" id="nav-Decore-tab" data-toggle="tab" href="#nav-Decore" role="tab" aria-controls="nav-Decore" aria-selected="false">Decore</a>
            </div>
        </nav>
    </section>
    <section class="popular-pro-products">
        <div class="popular-product1">
            <img src="../../../../assets/img/gallery/popular1.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
        <div class="popular-product1">
            <img src="../../../../assets/img/gallery/popular2.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
        <div class="popular-product1">
            <img src="../../../../assets/img/gallery/popular3.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
    </section>
</article>