<div class="div1 col-md-12 col-12">
    <div class="firstDiv1 col-12 col-md-12">
        <img style="width: 100%;" [src]="singleBlog" alt="single img">
    </div>
    <div class="firstDiv2">
        <h6>Second divided from form fish beast made every of seas all gathered us saying he our</h6>
        <span><i class="fa fa-user"></i>  Travel, Lifestyle &nbsp; | &nbsp;</span>
        <span><i class="fa fa-comments"></i> 03 Comments</span>
    </div>
    <div class="para" style="margin-top: 5%;">
        <p>
            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower
            <br> <br> MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who
            has the willpowerto actually sit through a self-imposed MCSE training. who has the willpower to actually
        </p>
    </div>
    <div class="para2">
        <p>
            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpowerto
            actually sit through a self-imposed MCSE training.
        </p>
    </div>
    <div class="para" style="margin-top: 5%;">
        <p>
            MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower
            <br> <br> MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who
            has the willpowerto actually sit through a self-imposed MCSE training. who has the willpower to actually
        </p>
    </div>
    <hr>
    <div>
        <div class="row divLike">
            <div class="col-md-4 col-12"><i class="fa fa-heart"></i> <span> Lily and 4 people like this</span>
            </div>
            <div class="col-md-5 col-12"></div>
            <div class="col-md-3 col-12">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-dribbble"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
        <br> <br>
        <div class="row ">
            <div class="col-md-2 col-12 previmg"> <img [src]="prevpost" alt="prev post"></div>
            <div class="col-md-4 col-sm-12">
                <span class="prevspan">Prev Post</span>
                <div class="prevdiv">Space The Final Frontier</div>
            </div>
            <div class="col-md-1 col-12"></div>

            <div class="col-md-3 col-12">
                <span class="nextspan">Next Post</span>
                <div class="nextdiv">Telescopes 101</div>
            </div>
            <div class="col-md-2 col-12 nextimg">
                <img [src]="lastpost" alt="last post">
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row">
            <div class="col-md-3 harvardimg"><img [src]="harvardimg" alt="Harvard milan"></div>
            <div class="col-md-9 harvard">
                <span>Harvard milan</span>
                <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he our dominion twon Second divided from
                </p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div>
        <h5>05 Comments</h5>
        <br>
        <!--first-->
        <div class="row">
            <div class="col-md-2 col-12"><img [src]="commentimg1" alt="img comment 1"></div>
            <div class="col-md-10 col-12">
                <div class="row">
                    <div class="col-md-12 comment1">
                        <p>
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                        </p>
                    </div>
                </div>
                <div class="row comment12">
                    <div class="col-md-10">
                        <span>Emilly Blunt</span> &nbsp; <span>December 4, 2017 at 3:12 pm</span>
                    </div>
                    <div class="col-md-2 rep">Reply</div>
                </div>
            </div>
        </div>
        <!--second-->
        <br>
        <div class="row">
            <div class="col-md-2 col-12"><img [src]="commentimg2" alt="img comment 1"></div>
            <div class="col-md-10 col-12">
                <div class="row">
                    <div class="col-md-12 comment1">
                        <p>
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                        </p>
                    </div>
                </div>
                <div class="row comment12">
                    <div class="col-md-10">
                        <span>Emilly Blunt</span> &nbsp; <span>December 4, 2017 at 3:12 pm</span>
                    </div>
                    <div class="col-md-2 rep">Reply</div>
                </div>
            </div>
        </div>
        <!--third-->
        <br>
        <div class="row">
            <div class="col-md-2 col-12"><img [src]="commentimg3" alt="img comment 1"></div>
            <div class="col-md-10 col-12">
                <div class="row">
                    <div class="col-md-12 comment1">
                        <p>
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                        </p>
                    </div>
                </div>
                <div class="row comment12">
                    <div class="col-md-10">
                        <span>Emilly Blunt</span> &nbsp; <span>December 4, 2017 at 3:12 pm</span>
                    </div>
                    <div class="col-md-2 rep">Reply</div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
    <hr>
    <div>
        <br>
        <h6>Leave a Reply</h6>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder="Enter email" required="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn" style="font-size: 15px;">Post Comment</button>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </div>
        </div>
    </div>













</div>