<article>
    <section class="suggested-pro-text">
        <h2>products you may like</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic laborum tempore at illo fugiat fuga et aut laudantium!</p>
    </section>

    <section class="suggested-pro-products">
        <div class="suggested-product1">
            <img src="../../../../assets/img/gallery/card1.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
        <div class="suggested-product1">
            <img src="../../../../assets/img/gallery/card2.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
        <div class="suggested-product1">
            <img src="../../../../assets/img/gallery/card3.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
    </section>
    <button type="button" class="border-btn mr-btn1">discover more</button>
</article>