<footer>
    <article>
        <section class="footer-components">
            <section class="social">
                <div class="img-container">
                    <img src="../../../assets/img/logo/logo2_footer.png" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, totam? Ullam, magnam aliquid! Unde, eligendi.</p>
                <div class="icons">
                    <span><i  class="fab fa-facebook-f"></i></span>
                    <span><i  class="fab fa-twitter"></i></span>
                    <span><i  class="fab fa-pinterest-p"></i></span>
                </div>
            </section>
            <section class="quick-links">
                <h4>quick links</h4>
                <a href="#">image licensin</a>
                <a href="#">style guide</a>
                <a href="#">privacy policy</a>
            </section>
            <section class="shop-category">
                <h4>shop category</h4>
                <a href="#">image licensin</a>
                <a href="#">style guide</a>
                <a href="#">privacy policy</a>
            </section>
            <section class="pertners">
                <h4>pertners</h4>
                <a href="#">image licensin</a>
                <a href="#">style guide</a>
                <a href="#">privacy policy</a>
            </section>
        </section>
        <section class="footer-info">
            <span>copy right &copy; 2020 all rights reserved | this template is made with us</span>
        </section>
    </article>
</footer>