<h6>Text Sample</h6>
<div class="row">
    <div class="col-md-12 textsample">
        <p>
            Every avid independent filmmaker has <b>Bold</b> about making that Italic interest documentary, or short film to show off their creative prowess. Many have great ideas and want to “wow” theSuperscript scene, or video renters with their
            big project. But once you have theSubscript “in the can” (no easy feat), how do you move from a <del>Strike</del> through of master DVDs with the <u>“Underline”</u> marked hand-written title inside a secondhand CD case, to a pile of cardboard
            boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap sitting on your doorstep? You need to create eye-popping artwork and have your project replicated. Using a reputable full service DVD Replication company like PacificDisc,
            Inc. to partner with is certainly a helpful option to ensure a professional end result, but to help with your DVD replication project, here are 4 easy steps to follow for good DVD replication results:
        </p>
    </div>
</div>
<div>
    <h6>Sample Buttons</h6>
    <div class="row">
        <div class="col-md-2 col-4 btn1"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn2"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn3"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn4"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn5"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn6"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn7"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-4 btn11"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn12"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn13"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn14"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn15"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn16"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn17"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-2 col-4 btn1"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn2"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn3"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn4"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn5"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn6"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn7"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-4 btn11"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn12"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn13"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn14"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn15"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn16"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn17"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <!----><br> <br>
    <div class="row">
        <div class="col-md-2 col-4 btn1 btnr"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn2  btnr"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn3  btnr"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn4  btnr"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn5  btnr"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn6  btnr"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn7  btnr"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-4 btn11  btnr"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn12  btnr"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn13  btnr"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn14  btnr"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn15  btnr"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn16  btnr"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn17  btnr"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-4 btn1 btnr"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn2  btnr"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn3  btnr"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn4  btnr"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn5  btnr"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn6  btnr"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn7  btnr"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 col-4 btn11  btnr"><button style="width: 100%;" type="button" class="btn">Default</button></div>
        <div class="col-md-2 col-4 btn12  btnr"><button style="width: 100%;" type="button" class="btn btn-primary">primary</button></div>
        <div class="col-md-2 col-4 btn13  btnr"><button style="width: 100%;" type="button" class="btn btn-success">Success</button></div>
        <div class="col-md-2 col-4 btn14  btnr"><button style="width: 100%;" type="button" class="btn btn-info">Info</button></div>
        <div class="col-md-2 col-4 btn15  btnr"><button style="width: 100%;" type="button" class="btn btn-warning">Warning</button></div>
        <div class="col-md-1 col-4 btn16  btnr"><button style="width: 100%;" type="button" class="btn btn-link">Link</button></div>
        <div class="col-md-1 col-4 btn17  btnr"><button disabled style="width: 100%;" type="button" class="btn btn-disable">Disable</button></div>
    </div>
    <!----><br> <br>
    <div class="row col-md-12">
        <div class="col-md-3 col-4 btn2 elarg"><button style="width: 100%;" type="button" class="btn btn-primary">Extra Large</button></div>
        <br>
        <div class="col-md-3 col-4 btn3 larg"><button style="width: 85%;" type="button" class="btn btn-success">large</button></div>
        <div class="col-md-2 col-4 btn2 def"><button style="width: 100%;" type="button" class="btn btn-primary">Default</button></div>
        <div class="col-md-2 col-4 btn3 med"><button style="width: 100%;" type="button" class="btn btn-success">Medium</button></div>
        <div class="col-md-2 col-4 btn2 smal"><button style="width: 70%;" type="button" class="btn btn-primary">Small</button></div>
    </div>
    <br>
    <div class="row col-md-12 col-12">
        <div class="col-md-3 col-4 btn12 elarg"><button style="width: 100%;" type="button" class="btn btn-primary">Extra Large</button></div>
        <div class="col-md-3 col-4 btn13 larg"><button style="width: 85%;" type="button" class="btn btn-success">large</button></div>
        <div class="col-md-2 col-4 btn12 def"><button style="width: 100%;" type="button" class="btn btn-primary">Default</button></div>
        <div class="col-md-2 col-4 btn13  med"><button style="width: 100%;" type="button" class="btn btn-success">Medium</button></div>
        <div class="col-md-2 col-4 btn12 smal"><button style="width: 70%;" type="button" class="btn btn-primary">Small</button></div>
    </div>
</div>
<br><br>
<hr>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2 col-12 rlaligned">Left Aligned</div>
            <div class="col-md-10"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-4 leftAlignedImg"><img [src]="LRAlignedImg" alt=" left aligned img"></div>
            <div class="col-md-8 col-8">
                <p>
                    Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party
                    Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos
                    started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would
                    accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<hr> <br>
<div class="row">
    <div class="col-md-10 col-8 "></div>
    <div class="col-md-2 col-4 rlaligned">Right Aligned</div>
</div>
<div class="row">
    <div class="col-md-8 col-8">
        <p class="textAligned">
            Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all
            of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons why your PC is getting slower and do something
            to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs
            <br> Before we discuss all of the things that could be your PC’s performance, let’s talk a little about symptoms
        </p>
    </div>
    <div class="col-md-4 col-4 leftAlignedImg"><img [src]="LRAlignedImg" alt=" left aligned img"></div>
</div>
<br>
<hr> <br>
<div>
    <h5>Definition</h5>
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h6>Definition 01</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <p>
                        Recently, the US Federal government banned online casinos from operating in America by making it illegal to money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks
                    </p>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h6>Definition 02</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <p>
                        Recently, the US Federal government banned online casinos from operating in America by making it illegal to money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks
                    </p>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-4 col-12">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h6>Definition 03</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12">
                    <p>
                        Recently, the US Federal government banned online casinos from operating in America by making it illegal to money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<div>
    <h5>Block Quotes</h5>
    <div class="row">
        <div class="col-md-12 quote">
            <q>
                “Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them
                through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and
                PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a
                fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under
                a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was
                enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are
                the electronic banking”
            </q>
        </div>
    </div>
</div>
<br>
<!---->
<h6>Table</h6>
<div class="table">
    <div class="row col-12">
        <div class="col-md-2 col-1 serial">#</div>
        <div class="col-md-3 col-4 serial">COUNTRIES</div>
        <div class="col-md-3 col-2 serial">VISITS</div>
        <div class="col-md-3 col-4 serial">PERCENTAGES</div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">01</div>
        <div class="col-md-3 col-4 "><img [src]="canada" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color1"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">02</div>
        <div class="col-md-3 col-4 "><img [src]="canada2" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4  col-4"><span class="progress-bar color2"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">03</div>
        <div class="col-md-3 col-4 "><img [src]="canada3" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color3"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">04</div>
        <div class="col-md-3 col-4 "><img [src]="canada4" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color4"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">05</div>
        <div class="col-md-3 col-4 "><img [src]="canada5" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color5"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">06</div>
        <div class="col-md-3 col-4 "><img [src]="canada6" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color6"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">07</div>
        <div class="col-md-3 col-4 "><img [src]="canada7" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color7"></span></div>
    </div>
    <hr>
    <div class="row col-12">
        <div class="col-md-2 col-1 ">08</div>
        <div class="col-md-3 col-4 "><img [src]="canada8" alt="flag"> Canada</div>
        <div class="col-md-3 col-2 ">645032</div>
        <div class="col-md-4 col-4 "><span class="progress-bar color8"></span></div>
    </div>
</div>
<br>
<hr> <br>
<div>
    <h6>image Gallery</h6>
    <div class="row">
        <div class="panel-group col-12" id="accordion">
            <button id="btnn" (click)="gotogellery()">Open Gallery</button>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-12 ">
        <b>Image Gallery</b>
        <h1>This is header 01</h1>
        <h2>This is header 02</h2>
        <h3>This is header 03</h3>
        <h4>This is header 04</h4>
        <h5>This is header 05</h5>
        <h6>This is header 06</h6>
    </div>
    <div class="col-md-4 col-12 ">
        <ul>
            <b>Unordered List</b>
            <li>Fta Keys</li>
            <li>For Women Only Your Computer Usage</li>
            <li>Facts Why Inkjet Printing Is Very Appealing
                <ul>
                    <li>Addiction When Gambling Becomes
                        <ul>
                            <li>Protective Preventative Maintenance</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Dealing With Technical Support 10 Useful Tips</li>
            <li>Make Myspace Your Best Designed Space</li>
            <li>Cleaning And Organizing Your Computer</li>
        </ul>
    </div>
    <div class="col-md-4 col-12 ">
        <ol>
            <b>Unordered List</b>
            <li>Fta Keys</li>
            <li>For Women Only Your Computer Usage</li>
            <li>Facts Why Inkjet Printing Is Very Appealing
                <ol>
                    <li>Addiction When Gambling Becomes
                        <ol>
                            <li>Protective Preventative Maintenance</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Dealing With Technical Support 10 Useful Tips</li>
            <li>Make Myspace Your Best Designed Space</li>
            <li>Cleaning And Organizing Your Computer</li>
        </ol>
    </div>
</div>
