<div class="product_image_area section-padding40">
    <div class="container">
      <div class="row s_product_inner">
       
        <div class="product_image_area section-padding40">
            <div class="container">
              <div class="row s_product_inner" >
                <!-- <section class="customers">
                  <div class="customers_center owl-carousel owl-theme">
                      <img src="../../../../assets/img/gallery/product-details2.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/product-details3.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/product-details4.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/product-details1.png"  style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/popular7.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/popular8.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/popular9.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/popular6.png" style="width:100%" alt="customer">
                      <img src="../../../../assets/img/gallery/popular6.png" style="width:100%" alt="customer">
                  </div>
              </section> -->
                 <!-- <div class="col-lg-5">
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                          <div class="numbertext">1 / 7</div>
                          <img src="../../../../assets/img/gallery/product-details2.png" style="width:100%">
                          <div class="text">Caption Text</div>
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext">2 / 7</div>
                          <img src="../../../../assets/img/gallery/product-details3.png" style="width:100%">
                          <div class="text">Caption Two</div>
                        </div>
                        
                        <div class="mySlides fade">
                          <div class="numbertext">3 / 7</div>
                          <img src="../../../../assets/img/gallery/product-details4.png" style="width:100%">
                          <div class="text">Caption Three</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">4 / 7</div>
                            <img src="../../../../assets/img/gallery/product-details1.png"  style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">5 / 7</div>
                            <img src="../../../../assets/img/gallery/popular7.png"  style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">6 / 7</div>
                            <img src="../../../../assets/img/gallery/popular8.png"  style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">7 / 8</div>
                            <img src="../../../../assets/img/gallery/popular9.png" style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>
                        <div class="mySlides fade">
                            <div class="numbertext">8 / 8</div>
                            <img src="../../../../assets/img/gallery/popular6.png"  style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        
                        </div>
                        <br>
                        
                        <div style="text-align:center">
                          <span class="dot" onclick="currentSlide(1)"></span> 
                          <span class="dot" onclick="currentSlide(2)"></span> 
                          <span class="dot" onclick="currentSlide(3)"></span> 
                          <span class="dot" onclick="currentSlide(4)"></span>
                          <span class="dot" onclick="currentSlide(5)"></span> 
                          <span class="dot" onclick="currentSlide(6)"></span> 
                          <span class="dot" onclick="currentSlide(7)"></span> 
                          <span class="dot" onclick="currentSlide(8)"></span>  
                        </div>
                </div>   -->
                <section class="home" >
                  <div class="slider">
                      <div class="slide active">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/product-details2.png" style="width: 100%;">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/product-details3.png" style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/product-details4.png" style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/product-details1.png"  style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/popular7.png"  style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/popular8.png"  style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/popular9.png" style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/popular6.png"  style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="slide ">
                          <div class="container">
                              <div class="caption">
                                  <img src="../../../../assets/img/gallery/popular6.png"  style="width:100%">
                                  <div class="details">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
          
                  <!-- controls  -->
                  <div class="controls">
                      <div class="prev">
                          <
                      </div>
                      <div class="next">
                          >
                       </div>
                      </div>
          
                      <!-- indicators -->
                      <div class="indicator">
                      </div>
          
              </section>
                <!-- <mdb-carousel [animation]="'slide'" [ngSwitch]="carouselDisplayMode" [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'">
                  <ng-container *ngSwitchCase="'single'">
                    <mdb-carousel-item *ngFor="let card of cards">
                      <mdb-card class="my-1">
                        <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                        <mdb-card-body>
                          <mdb-card-title>
                            <h4> {{ card.title }}</h4>
                          </mdb-card-title>
                          <p>{{ card.description }}</p>
                          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
                        </mdb-card-body>
                      </mdb-card>
                    </mdb-carousel-item>
                  </ng-container>
                
                  <ng-container *ngSwitchCase="'multiple'">
                    <mdb-carousel-item *ngFor="let item of slides; let i = index">
                      <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
                        <mdb-card class="my-1">
                          <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                          <mdb-card-body>
                            <mdb-card-title>
                              <h4>{{card.title}}</h4>
                            </mdb-card-title>
                            <p>{{card.description}}</p>
                            <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
                          </mdb-card-body>
                        </mdb-card>
                      </div>
                    </mdb-carousel-item>
                  </ng-container>
                </mdb-carousel> -->
                <div class="col-lg-5 offset-lg-1">
                  <div class="s_product_text">
                    <h3>Faded SkyBlu Denim Jeans</h3>
                    <h2>$149.99</h2>
                    <ul class="list">
                      <li>
                        <a  href="#">
                          Category : <span> Household</span></a>
                        </li>
                        <li>
                          <a href="#" > Availibility : <span> In Stock </span></a>
                        </li>
                      </ul>
                      <hr style="color: lightskyblue;">
                      <p style="font-size: small;">
                        Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that can make your interior look awesome, and at the same time.
                      </p>
                      <div class="card_area">
                        <input type="number" value="0" min="0" max="100" style="width: 150px;margin-bottom: 26px;"/>
                        <div class="add_to_cart">
                          <a href="#" class="b-tn box-shadow">ADD TO CART</a>
                          <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                        </div>
                        <div class="social_icon">
                          <a href="#" class="fb"><i class="ti-facebook"></i></a>
                          <a href="#" class="tw"><i class="ti-twitter-alt"></i></a>
                          <a href="#" class="li"><i class="ti-linkedin"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="popular-area">
            <nav>         
              <div class="M-NavePar">               
             <a (click)="showReviews() "id="bn1"class="nav-element1" >Reviews </a>
             <a (click)="showcomments()" id="bn2" class="nav-element1">comments</a>
             <a (click)="showDiscription()" id="bn3" class="nav-element1">discription</a>
          </div> 
          </nav>
          </div>
          <router-outlet></router-outlet>
          