.section-padding40{
    padding-top:100px;
    padding-bottom:100px}
    @media only screen and (min-width: 768px) and (max-width: 991px)
    {
        .section-padding40{
            padding-top:100px;
            padding-bottom:70px}
    }
    @media only screen and (min-width: 576px) and (max-width: 767px){
        .section-padding40{padding-top:65px;padding-bottom:70px
        }
    }
    @media (max-width: 575px){
        .section-padding40{
            padding-top:65px;padding-bottom:70px
        }
    }
    .s_product_text h3 {
        font-size: 24px;
        font-weight: 700;
        color: #2a2a2a;
        margin-bottom: 10px;
    }
    
    .s_product_text h2 {
        font-size: 24px;
        font-weight: bold;
        color: #2f7dfc;
        margin-bottom: 15px;
    }
    .list{
        list-style: none;
        text-decoration:none;
    }
    .list{
        a{
            color: black;
        }
    }
    .list{
            a:hover{
               color:  #FD8F5F;
               text-decoration:none;
            } 
    }
    .list{
        a{
          span:hover{
            color:  lightslategrey;
          }
        } 
}
.add_to_cart{
    a{
        text-decoration: none;
    }
}
.b-tn{
       color: #fff;
       background-color: #FD8F5F; 
       width: 200px;
       height: 50px;
       text-align: center;
       border: 1px solid  #FD8F5F;
       border-radius: 5px;
       cursor: pointer;
       display: inline-block;
       font-size: 16px;
       font-weight: 500;
       letter-spacing: 1px;
       margin-bottom: 10px;
       padding: 10px;
       position: relative;
       
    }
    .box-shadow {
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
        transition: box-shadow 0.3s ease-in-out;
      }
      .box-shadow:hover {
        box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
      }
    .like_us{
        color: #FD8F5F;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        margin-left: 20px;
        box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
        &:hover{
          background-color: #FD8F5F;
          color: white;
        }
    }
    .social_icon{
        margin-top: 40px;
        a{
            display: inline-block;
            border-radius: 50%;
            background-color: #3b5998;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            color: white;
            margin-right: 15px;
            text-decoration: none;
            &:hover{
              background-color: #FD8F5F;
              
            }
        }
        .tw{
          background-color: #55acee;
        }
        .li{
          background-color: #0077b5;
        }
      }
      * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media (max-width: 768px){
  .s_product_text{
    margin-left:15%;
  }
  .card_area{
    margin-left: 20px;
  }
  .social_icon{
    width: 50%;
    margin-left: 10%;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px;}
}
.M-NavePar a{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  
  }
  .M-NavePar ul{
      text-align: center;
  }
  .M-NavePar ul li{
     
      display: flex;
      display: inline;
      padding: 0 5px 0 5px;
  }
  .nav-element1 {
    border: none;
    outline: none;
    padding: 10px 16px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
    font-size: 18px;
    width: 150px;
    border-radius: 20px;
  }
  .nav-element1:hover{
    background-color: #FD8F5F;
    text-decoration: none;
  }
  .popular-area{
    text-align:center!important;
    margin-bottom: 20px;
  }
  html,
body,
.view {
  height: 100vh;
}

/* Full Page Carousel itself*/
// .carousel {
//   height: 100vh;
// }

// .carousel .carousel-inner {
//   height: 100vh;
// }

// .carousel .carousel-inner .carousel-item,
// .carousel .carousel-inner .active {
//   height: 100vh;
// }

img {
  &.d-block {
    height: 100vh;
  }
}


.home {
  position: relative;
  width: 40%;
  height: 40%;
}

.home .slide {
  display: none;
  animation: slide 2s ease;
}

.home .slide.active {
  display: flex;
}

.home .caption img {
  width: 100%;
}

.details {
  width: 100vw;
  word-wrap: break-word;
  padding: 1rem;
}

.home .caption p {
  font-size: 18px;
  margin: 15px 0 30px;
  color: #222222;
  width: 85%;
}

.home .caption a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
}

.home .controls .prev,
.home .controls .next {
  position: absolute;
  top: 30%;
  height: 45px;
  width: 40px;
  color: #ffffff;
  background-color: rgb(88, 92, 92);
  text-align: center;
  line-height: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all .8s ease;
}

.home .controls .prev:hover,
.home .controls .next:hover {
  background-color: #000000;
}

.home .controls .prev {
  margin-top: 50px;
}

.home .controls .next {
 margin-top: 50px;
}


.home .indicator {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  cursor: pointer;
}

.home .indicator div {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #ffffff;
  background-color: #FF5722;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin: 1rem 3px;
}

.home .indicator div.active {
  background-color: #000;
}
@media (max-width:768px){
  .social_icon{
   display: inline;
   margin-left: 1rem;
  }
  .add_to_cart .b-tn{
    display: inline;
  }
  .add_to_cart{
    margin-bottom: 2rem;
  }
  .M-NavePar .nav-element1{
    display: inline;
    margin-bottom: 7px;
  }
  .home {
    position: relative;
    width:60%;  
    height: 60%;
    margin-left: 18%;
  }
  .home .controls .prev,
.home .controls .next {
  top:20%;
}
}
