h1,h2,h3,h4,h5,h6 { opacity: .3;}
h1 {font-size: 175%;}
h2 {font-size: 150%;}
h3 {font-size: 130%;}
h4 {font-size: 110%;}
h5 {font-size: 90%;}
h6 {font-size: 70%;}
ul li {list-style: circle;line-height: 1.82em !important;}
ol li {list-style: 1;line-height: 1.82em !important;opacity: .3;}
input,select,placeholder {margin-bottom: 5%;}
.rswitches {font-size: 100%;}