<div class="row">
    <div class="col-md-8">
        <form class="form-group">
            <div class="row">
                <div class="col-md-12">
                <input type="text" class="form-control" name="first_name" placeholder="First Name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <input type="text" class="form-control" name="first_name" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <input type="text" class="form-control" name="first_name" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <input type="email" class="form-control" name="first_name" placeholder="Email Address">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                <input type="text" class="form-control" name="first_name" placeholder="Address">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select class="col-md-12">
                                        <option value=" 1">City</option>
                                        <option value="1">Dhaka</option>
                                        <option value="1">Dilli</option>
                                        <option value="1">Newyork</option>
                                        <option value="1">Islamabad</option>
                                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea class="single-textarea col-md-12 col-12" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <select class="col-md-12">
                                        <option value=" 1">Country</option>
                                        <option value="1">Bangladesh</option>
                                        <option value="1">India</option>
                                        <option value="1">England</option>
                                        <option value="1">Srilaanka</option>
                                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="first_name" placeholder="Accent color">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="first_name" placeholder="Secondary color">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <b>Switches</b>
        <div class="row">
            <div class="col-md-10 rswitches">01.Sample Switch</div>
            <div class="col-md-2">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches">
                    <label class="custom-control-label" for="customSwitches"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 rswitches rswitches">02.Primary Color Switch
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches2">
                    <label class="custom-control-label" for="customSwitches2"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 rswitches">03.Confirm Color Switch
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches3">
                    <label class="custom-control-label" for="customSwitches3"></label>
                </div>
            </div>
        </div>
        <br>
        <b>Selectboxes</b>
        <div class="row">
            <div class="col-md-8">
                <select class="col-md-12">
                                    <option value=" 1">Country</option>
                                    <option value="1">Bangladesh</option>
                                    <option value="1">India</option>
                                    <option value="1">England</option>
                                    <option value="1">Srilaanka</option>
                                    </select>
            </div>
            <div class="col-4"></div>
        </div>
        <br>
        <!---->
        <b>Checkboxes</b>
        <div class="row">
            <div class="col-md-10 rswitches">01.Sample Checkbox</div>
            <div class="col-md-2">
                <input type="checkbox" id="default-checkbox">
                <label for="default-checkbox"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 rswitches">02.PrimColorCheckbox
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="default-checkbox">
                <label for="default-checkbox"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 rswitches">03.ConColorCheckbox
            </div>
            <div class="col-md-2">
                <input type="checkbox" id="default-checkbox">
                <label for="default-checkbox"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 rswitches">04.DisabledCheckbox</div>
            <div class="col-md-2">
                <input type="checkbox" id="default-checkbox">
                <label for="default-checkbox"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 rswitches">05.DisCheckboxActive</div>
            <div class="col-md-2">
                <input type="checkbox" id="default-checkbox">
                <label for="default-checkbox"></label>
            </div>
        </div>
        <br>
        <br>
        <b>Radios</b>
        <div class="row">
            <div class="col-md-10">
                <div class="radio radio-inline rswitches">
                    01. Sample radio
                </div>
            </div>
            <div class="col-md-2">
                <input type="radio" id="inlineRadio2" value="" name="radioInline">
                <label for="inlineRadio2"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="radio radio-inline rswitches">
                    02. Primary Color radio
                </div>
            </div>
            <div class="col-md-2">
                <input type="radio" id="inlineRadio2" value="" name="radioInline">
                <label for="inlineRadio2"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="radio radio-inline rswitches">
                    03. Confirm Color radio
                </div>
            </div>
            <div class="col-md-2">
                <input type="radio" id="inlineRadio2" value="" name="radioInline">
                <label for="inlineRadio2"> </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="radio radio-inline rswitches">
                    04. Disabled radio
                </div>
            </div>
            <div class="col-md-2">
                <input type="radio" name="radio3" id="radio6" value="option2" checked="" disabled="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="radio radio-inline rswitches">
                    h3 05. Disabled radioActive
                </div>
            </div>
            <div class="col-md-2">
                <input type="radio" name="radio3" id="radio6" value="option2" checked="" disabled="">
            </div>
        </div> <br> <br>
    </div>
</div>
