<article>
    <section class="top-pic-text">
        <h2>top pick</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic laborum tempore at illo fugiat fuga et aut laudantium!</p>
    </section>

    <section class="top-pic-products">
        <div class="top-pic-product1">
            <img src="../../../../assets/img/gallery/popular7.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
        <div class="top-pic-product1">
            <img src="../../../../assets/img/gallery/popular8.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
        <div class="top-pic-product1">
            <img src="../../../../assets/img/gallery/popular9.png" alt="popular product">
            <h4><a href="#">Bly Microfiber / Microsuede 56" Armless Loveseat</a></h4>
            <h5>$367</h5>
        </div>
    </section>
    <button type="button" class="border-btn">discover more</button>
</article>