<article class="banner">
    <section>
        <div class="account-banner">
            <a routerLink="/login" routerLinkActive="active">
                <h4>my account</h4>
            </a>
            <div class="shopping-icon"><a routerLink="/card" routerLinkActive="active"><i class="fas fa-shopping-bag"></i></a></div>

        </div>
        <div class="ourcoust-banner">
            <div class="animated animatedFadeInUp fadeInUp">
            <h3>70 % sale off</h3>
            <h2>furniture at cost</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quaerat debitis, tempore nesciunt tenetur harum asperiores optio autem minima itaque.</p>
            <button type="button">discover more</button>
        </div>
        </div>
    </section>
    <div class="banner-filler"></div>
</article>