<div class="Rdiv1">
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input id="search" type="text" class="form-control" placeholder="Search">
    </div>
    <!-- Another variation with a button -->
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search this blog">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="R_div2 col-md-12 col-12">
    <h4>Category
        <hr>
    </h4>
    <p>Resaurant food (37)</p>
    <hr>
    <p>Travel news (10)</p>
    <hr>
    <p>modern technology(03)</p>
    <hr>
    <p>product(11)</p>
    <hr>
    <p>inspiration 21</p>
    <hr>
    <p>health care (21)09</p>
</div>
<div class="R_div2 col-md-12 col-12">
    <h4>Recent Post
        <hr>
    </h4>
    <div class="resentPost1 col-md-12 col-12">
        <span><img [src]="R_div2img1" alt="img from life"></span>
        <span>From life was you fish... 
 <span id="colspan"> January 12, 2019</span></span>
    </div>
    <div class="clear"></div>
    <div class="resentPost1 col-md-12 col-12">
        <span><img [src]="R_div2img2" alt="img from life"></span>
        <span>The Amazing Hubble
<span id="colspan"> 02 Hours ago</span></span>
    </div>
    <div class="clear"></div>
    <div class="resentPost1 col-md-12 col-12">
        <span><img [src]="R_div2img3" alt="img from life"></span>
        <span>Astronomy Or Astrology   
<span id="colspan"> 03 Hours ago</span></span>
    </div>
    <div class="clear"></div>
    <div class="resentPost1 col-md-12 col-12">
        <span><img [src]="R_div2img4" alt="img from life"></span>
        <span>Asteroids telescope
<span id="colspan">  01 Hours ago</span></span>
    </div>
    <div class="clear"></div>
</div>
<div class="R_div2 col-md-12 col-12">
    <h4>Tag Clouds
        <hr>
    </h4>
    <div class="row R_div4">
        <button class="col-5">Project</button>
        <button class="col-4">Love</button>
        <button class="col-7">Technology</button>
    </div>
    <div class="row R_div4">
        <button class="col-5">travel</button>
        <button class="col-6">restarant</button>
        <button class="col-6">lifestyle</button>
    </div>
    <div class="row R_div4">
        <button class="col-5">design</button>
        <button class="col-7">illusration</button>
    </div>
</div>
<div class="R_div2 col-md-12 col-12">
    <h4>Instagram Feeds
        <hr>
    </h4>
    <div class="row r_div5">
        <div class="col-4"><img [src]="R_img5" alt="img1"></div>
        <div class="col-4"><img [src]="R_img6" alt="img2"></div>
        <div class="col-4"><img [src]="R_img7" alt="img3"></div>
    </div>
    <br>
    <div class="row  r_div5 ">
        <div class="col-4"><img [src]="R_img8" alt="img1"></div>
        <div class="col-4"><img [src]="R_img9" alt="img1"></div>
        <div class="col-4"><img [src]="R_img10" alt="img1"></div>
    </div>
</div>
<div class="R_div2 col-md-12 col-12">
    <h4>Newsletter
        <hr>
    </h4>
    <div class="form-group">
        <form action="#">
            <div class="form-group">
                <input type="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder="Enter email" required="">
            </div>
            <button id="btnn" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit" style="color: black;">Subscribe</button>
        </form>
    </div>

</div>
