<div class="div1 col-md-12 col-sm-12">
    <div class="firstDiv1">
        <img style="width: 100%;" [src]="singleBlog" alt="single img">
        <span>15<br>JAN</span>
    </div>
    <div class="firstDiv2">
        <h6>Google inks pact for new 35-storey office</h6>
        <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
        <span><i class="fa fa-user"></i>  Travel, Lifestyle &nbsp; | &nbsp;</span>
        <span><i class="fa fa-comments"></i> 03 Comments</span>
    </div>
</div>
<!--div2-->
<div class="div1 col-md-12 col-12">
    <div class="firstDiv1">
        <img style="width: 100%;" [src]="singleBlog2" alt="single img">
        <span>15<br>JAN</span>
    </div>
    <div class="firstDiv2">
        <h6>Google inks pact for new 35-storey office</h6>
        <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
        <span><i class="fa fa-user"></i>  Travel, Lifestyle &nbsp; | &nbsp;</span>
        <span><i class="fa fa-comments"></i> 03 Comments</span>
    </div>
</div>
<!--div3-->
<div class="div1 col-md-12 col-12">
    <div class="firstDiv1">
        <img style="width: 100%;" [src]="singleBlog3" alt="single img">
        <span>15<br>JAN</span>
    </div>
    <div class="firstDiv2">
        <h6>Google inks pact for new 35-storey office</h6>
        <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
        <span><i class="fa fa-user"></i>  Travel, Lifestyle &nbsp; | &nbsp;</span>
        <span><i class="fa fa-comments"></i> 03 Comments</span>
    </div>
</div>
<!--div4-->
<div class="div1 col-md-12 col-12">
    <div class="firstDiv1">
        <img style="width: 100%;" [src]="singleBlog4" alt="single img">
        <span>15<br>JAN</span>
    </div>
    <div class="firstDiv2">
        <h6>Google inks pact for new 35-storey office</h6>
        <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
        <span><i class="fa fa-user"></i>  Travel, Lifestyle &nbsp; | &nbsp;</span>
        <span><i class="fa fa-comments"></i> 03 Comments</span>
    </div>
</div>
<!--div5-->
<div class="div1 col-md-12 col-12">
    <div class="firstDiv1">
        <img style="width: 100%;" [src]="singleBlog5" alt="single img">
        <span>15<br>JAN</span>
    </div>
    <div class="firstDiv2">
        <h6>Google inks pact for new 35-storey office</h6>
        <p>That dominion stars lights dominion divide years for fourth have don't stars is that he earth it first without heaven in place seed it second morning saying.</p>
        <span><i class="fa fa-user"></i>  Travel, Lifestyle &nbsp; | &nbsp;</span>
        <span><i class="fa fa-comments"></i> 03 Comments</span>
    </div>
</div>