.firstDiv1 {position: relative; }
.firstDiv1 span {
 position: absolute;
    top: 85%;
    left: 5%;
    opacity: .7;
    display: inline-block;
    width: 12%;
    height: 20%;
    background-color: orangered;
    color: white;
    text-align: center;
    font-weight: bold;}
.firstDiv2 h6 {
    margin-top: 10%;
    margin-left: 5%;
    font-weight: bolder;}
.firstDiv2 p {
    font-size: 100%;
    margin-left: 5%;
    opacity: .7;}
.firstDiv2 span {
    font-size: 100%;
    opacity: .7;
    margin-left: 5%;}
.div1 {
    background-color: whitesmoke;
    margin-bottom: 5%;}
