<article>
    <div class="ourinsta-text">
        <span><i class="fab fa-instagram"></i></span>
        <h2>get inspired with instagram</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt architecto cupiditate tempora facere delectus quasi.</p>
        <button type="button" class="border-btn">discover more</button>
    </div>
    <div class="insta-imgs">
        <div class="ourinsta-img">
            <img src="../../../../assets/img/gallery/instra1.png" alt="image">
            <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="ourinsta-img">
            <img src="../../../../assets/img/gallery/instra2.png" alt="image">
            <span><i class="fab fa-instagram"></i></span>
        </div>
    </div>
</article>