<article>
    <section class="ourbest-img">
        <img src="../../../../assets/img/gallery/visit_bg.png" alt="image">
    </section>
    <section class="ourbest-text">
        <div class="animated animatedFadeInUp fadeInUp">
        <h1>best furniture manufacturer</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati eos pariatur saepe assumenda, amet numquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati eos pariatur saepe assumenda, amet numquam.</p>
        <button type="button" class="b-tn box-shadow">discover more</button>
    </div>
    </section>
</article>