<div class="container-fluid galerybackground">
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img1" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img2" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img3" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"><img [src]="img4" alt=" img in gallery"></div>
        <div class="col-md-6 col-12"><img [src]="img5" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img6" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img7" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img8" alt=" img in gallery"></div>
    </div>
    <!---->
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img1" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img2" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img3" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"><img [src]="img4" alt=" img in gallery"></div>
        <div class="col-md-6 col-12"><img [src]="img5" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img6" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img7" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img8" alt=" img in gallery"></div>
    </div>
    <!---->
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img1" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img2" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img3" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"><img [src]="img4" alt=" img in gallery"></div>
        <div class="col-md-6 col-12"><img [src]="img5" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img6" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img7" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img8" alt=" img in gallery"></div>
    </div>
    <!---->
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img1" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img2" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img3" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"><img [src]="img4" alt=" img in gallery"></div>
        <div class="col-md-6 col-12"><img [src]="img5" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img6" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img7" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img8" alt=" img in gallery"></div>
    </div>
    <!---->
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img1" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img2" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img3" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"><img [src]="img4" alt=" img in gallery"></div>
        <div class="col-md-6 col-12"><img [src]="img5" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img6" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img7" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img8" alt=" img in gallery"></div>
    </div>
    <!---->
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img1" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img2" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img3" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12"><img [src]="img4" alt=" img in gallery"></div>
        <div class="col-md-6 col-12"><img [src]="img5" alt=" img in gallery"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12"><img [src]="img6" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img7" alt=" img in gallery"></div>
        <div class="col-md-4 col-12"><img [src]="img8" alt=" img in gallery"></div>
    </div>
    <!---->

</div>








<button id="bttng" class='btn btn-primary' (click)="goback()">Close Gallery</button>