article {
    background: #F2E1D9;
    padding: 2rem;
    div {
        margin-top: 1rem;
        span {
            font-size: 2rem;
            color: #010A44;
        }
        h3 {
            text-transform: capitalize;
            font-weight: 400;
            margin: 1rem 0;
        }
        h5 {
            color: #7F85A8;
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

@media only screen and (min-width:700px) {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
            width: 45%;
        }
    }
}

@media only screen and (min-width:1100px) {
    article {
        div {
            width: 22%;
        }
    }
}